*{
    box-sizing: border-box;
}

body{
   background-image: linear-gradient(90deg, #44587B,#7F2D48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: #ffffff;
    font-size: 18px;
    border: 0;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;

}

.btn{
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}
